<div class="container">
    <h1>Angular</h1>
    <!-- <courses></courses> -->
    <h3 class="text-success">Assignment 1</h3>
    <app-authors></app-authors>
    <h3 class="text-success">Assignment 2</h3>
    <app-star [isActive]="author.isFavorite" (change)="onFavoriteChange($event)"></app-star>
    <h3 class="text-success">Assignment 3</h3>
    <app-titlecase></app-titlecase>
    <h3>Class 5</h3>
    <app-panel>
        <!-- ng-container negeneruoja papildomu div elementu -->
        <ng-container class="heading">Heading</ng-container>
        <div class="body">
            <h5>Body</h5>
            <p>Some content here...</p>
        </div>
    </app-panel>
    <h3 class="text-success">Assignment 4</h3>
    <app-heart [isActive]="heart.isLiked" [likesCount]="heart.likesCount" (onLikeChange)="setLikes($event)">
    </app-heart>

    <h3>Class 6</h3>
    <div *ngIf="courses.length > 0; then coursesList else noCourses"> </div>
    <ng-template #coursesList>
        List of courses
    </ng-template>
    <ng-template #noCourses>
        No courses to display
    </ng-template>
    <div [hidden]="courses.length > 0">This is hidden when there are courses</div>
</div>