<div class="container">
    <h1>Angular</h1>

    <ul class="nav nav-pills">
        <li><a [class.active]="selectedTab=='one'" (click)="selectedTab='one'">Class 1-4</a></li>
        <li><a [class.active]="selectedTab=='two'" (click)="selectedTab='two'">Assignment 1-3</a></li>
        <li><a [class.active]="selectedTab=='five'" (click)="selectedTab='five'">Class 5</a></li>
        <li><a [class.active]="selectedTab=='six'" (click)="selectedTab='six'">Class 6</a></li>
    </ul>

    <div [ngSwitch]="selectedTab">

        <div *ngSwitchCase="'one'">
            <h3 class="text-primary">Fundamentals, components, templates</h3>
            <courses></courses>
        </div>

        <div *ngSwitchCase="'two'">
            <h3 class="text-primary">Directive ngFor, style binding, custom pipes </h3>
            <h3 class="text-success">Assignment 1</h3>
            <app-authors></app-authors>
            <h3 class="text-success">Assignment 2</h3>
            <app-star [isActive]="author.isFavorite" (change)="onFavoriteChange($event)"></app-star>
            <h3 class="text-success">Assignment 3</h3>
            <app-titlecase></app-titlecase>
        </div>

        <div *ngSwitchCase="'five'">
            <h3 class="text-primary">Class 5 - Input, output, passing event data, styles and encapsulation</h3>
            <app-panel>
                <!-- ng-container negeneruoja papildomu div elementu -->
                <ng-container class="heading">Heading</ng-container>
                <div class="body">
                    <h5>Body</h5>
                    <p>Some content here...</p>
                </div>
            </app-panel>
            <h3 class="text-success">Assignment 4</h3>
            <app-heart [isActive]="heart.isLiked" [likesCount]="heart.likesCount" (onLikeChange)="setLikes($event)">
            </app-heart>
        </div>

        <div *ngSwitchCase="'six'">
            <h3 class="text-primary">Class 6 - Directives</h3>
            <h3 class="text-success">Directive ngIf and hidden attribute</h3>
            <div *ngIf="courses.length > 0; then coursesList else noCourses"> </div>
            <ng-template #coursesList>
                List of courses
            </ng-template>
            <ng-template #noCourses>
                No courses to display
            </ng-template>
            <div [hidden]="courses.length > 0">This is hidden when there are courses</div>

            <h3 class="text-success">Directive ngFor</h3>
            <button class="btn btn-success" (click)="loadCourses()">Load courses</button>
            <button class="btn btn-primary" (click)="onAddCourse()">Add course</button>
            <button class="btn" [ngStyle]="{
                'backgroundColor': canEdit? 'yellow': 'grey'
            }">
            Edit
            </button>
            <br>
            <ul>
                <!-- https://angular.io/api/common/NgForOf sarasas eksportuojamu lokaliu kintamuju - index, first, last, even, odd  -->
                <li *ngFor="let course of courses; index as i">
                    <button class="btn btn-danger" (click)="deleteCourse(i)">Delete</button>
                    {{i}}-{{course.name}}
                </li>
                <br>
                <!-- kad sektu pasikeitimus pagal id ir nesiustu is naujo kiekviena karta -->
                <li *ngFor="let course of courses; trackBy: trackCourse ">
                    {{course.name}}
                </li>
                <br>
                <li *ngFor=" let course of courses; even as isEven">{{course.name}} <span *ngIf="isEven">(even
                        row)</span>
                </li>
            </ul>
        </div>

    </div>
</div>